doctype html
html
  head
    script src="libs/underscore/underscore-min.js"
    script src="libs/backbone/backbone-min.js"

    script src="src/backbone.events.when.js"

    javascript:
      // var eventsObj = _.extend({}, Backbone.Events);
      var eventsObj = Backbone;

      function callback(data) {
        console.log('Aggregated data', data);
      }

      eventsObj.when('e1', 'e2', callback, this);

      eventsObj.trigger('e1', { foo: 1 });
      eventsObj.trigger('e2', { bar: 2 });

      eventsObj.when('e3 e4', callback, this);

      eventsObj.trigger('e3', { foo: 3 });
      eventsObj.trigger('e4', { bar: 4 });

      eventsObj.when('e5 e6 e7', callback, this);

      eventsObj.trigger('e5', { foo: 5 });
      eventsObj.trigger('e6', { bar: 6 });
      eventsObj.trigger('e7', { car: 7 });